<footer class="footer"> <!--footer class for contact information-->
    <table>
        <tr>
            <th>Facebook</th>
            <th><a href="/contact">Contact</a></th>
            <th><a href="/about">about</a></th>
        </tr>
    </table>

    <br><hr>
    <small>The terms amd services listed are bound and held as applying to the user upon visitation of this website .
        Please feel free to visit our Terms and Services site for a full list of usages. </small>
    <small>&#169;2021 All rights Reserved</small>
</footer>