<div id="mainMenu">
    <ul>
        <li class="menuLogo"><a class="LogoMenuList" href="/"><img class="FLogo" src="assets/images/FinlLogo.PNG" alt="MovieScope"></a></li>
        <li><a class="menuList" href="/login">Login</a></li>
        <li><a class="menuList" href="/signup">Sign Up</a></li>
        <li><a class="menuList" href="/newConnection">Start a New Connection</a></li>
    </ul>
    <hr class="menuHR">
    <ul class="menuConnect">
        <li class="left"><a class="menuConnectli" href="/Connection">Connections</a></li>
    </ul>
</div>