<!doctype html>

<html lang="en">
<head>

    <title>MovieScope</title><!--Title of each individual page-->
    <%- include('partials/header.ejs') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>


</head>

<body>
<main>
    <%- include('partials/nav.ejs') %>
    <div id="content">
        <img class="menuLogo2" src="assets/images/FinlLogo.PNG" alt="MovieScope"><br>
        <h3 class="centerTable">Welcome to Movie Scope!</h3><br>
        <p class="centerTable">MovieScope is a premium service that offers our users the latest in movie, facts, news, trivia, screenings, and more!
        We started in 2020 and have grown to support 2,00,00 users! We hope you enjoy our site and increase your love for movies.</p>

    </div>
</main>

<%- include('partials/footer.ejs') %>

</body>
