<!doctype html>

<html lang="en">
<head>

    <title>MovieScope</title><!--Title of each individual page-->
    <%- include('partials/header.ejs') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>


</head>

<body>
<main>
    <%- include('partials/nav.ejs') %>
    <div id="content">
        <img class="menuLogo2" src="assets/images/FinlLogo.PNG" alt="MovieScope"><br>
        <h3 class="centerTable">Contact Movie Scope!</h3><br>
        <p class="centerTable">We are your premiere application for movies, entertainment, and news. Please feel free to contact us regarding any questions you may have.</p>


            <p class="centerTable">(704) 123-1234</p><br>
            <p class="centerTable">blucas17@uncc.edu</p><br>
            <p class="centerTable">How was your stay?</p><br>


    </div>
</main>


<%- include('partials/footer.ejs') %>

</body>
