<div id="mainMenu"><!--Nav information for entire app-->
    <%if((typeof data.r !== 'undefined' && data.r.loggedIn === true)){%> <!-- If the user is logged in then allow access to connection forms-->
    <ul>
        <li class="menuLogo"><a class="LogoMenuList" href="/"><img class="FLogo" src="assets/images/FinlLogo.PNG" alt="MovieScope"></a></li>
        <li><a class="menuList" href="/logOut">Log Out</a></li>
        <li><a class="menuList" href="/newConnection">Start a New Connection</a></li>
    </ul>
    <hr class="menuHR">
    <ul class="menuConnect">
        <li class="left"><a class="menuConnectli" href="/Connection">Connections</a></li>
        <li class="menuConnectliUser">
            <label for="updateAccount" >Welcome <%=data.r.username%>!</label>
            <select name="updateAccount" id="updateAccount" onchange="document.location='/updateDeleteAccount'">
                <option class="center" value="1">Your Account Settings</option>
                <option class="center" value="2">Change Account Information</option>
            </select>
        </li>
    </ul>
    <%} else{%><!-- If the user is not logged in then do not allow access to connection forms-->
    <ul>
        <li class="menuLogo"><a class="LogoMenuList" href="/"><img class="FLogo" src="assets/images/FinlLogo.PNG" alt="MovieScope"></a></li>
        <li><a class="menuList" href="/login">Login</a></li>
        <li><a class="menuList" href="/signup">Sign Up</a></li>
    </ul>
    <hr class="menuHR">
    <ul class="menuConnect">
        <li class="left"><a class="menuConnectli" href="#">Connections</a></li>
    </ul>
    <%}%>
</div>